@charset "utf-8";

/*#### PARTE 1 ####*/
body{
	background: #f4EEEE url(image/fundo.jpg) repeat-x;
	font-size: 11px;
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
}

.zero{
	font-size: 0px;
}

div#conteiner{
	width: 700px;
	margin: 0 auto;

}

header#topo{
	background-image: url(image/logo.png);
	background-repeat: no-repeat;
	width: 376px;
	height: 150px;
	position: absolute;
	top: 10px;
	z-index:2;
}

section#conteudo{
	width: 700px;
	background-image: url(image/fundo-conteudo.gif);
	background-repeat: repeat-y;
	margin-top: 130px;
	overflow: auto; /*###ACRESCENTAR###*/
}

/*#### PARTE 2 ####*/
aside.menu{
	width: 200px;
	float: left;
}

	aside.menu ul {
		margin-top: 60px;
		margin-bottom: 60px;
		padding-left: 0px;
		list-style: none;
		text-align: right;
		padding-right: 10px;
		line-height: 25px;
		color: #41170C;
	}
	
	aside.menu ul li {
		border-bottom: 1px solid #F2F2F2;
		border-bottom-width: 1px;
	}
	
	/*aside.menu ul li:hover {
		background-color: #f9f9f9;
	}*/

	aside.menu ul li a {
		color: #000;
		text-decoration: none;
		display: block;
		height: 1%;
		padding: 5px;
		text-transform: uppercase;
		font-size: 15px;
	}
	
	aside.menu ul li a:hover {
		background: #ece9e9;
	}
	
/*#### PARTE 3 ####*/
article.conteudo {
	width: 449px;
	padding: 20px;
	color: #FFFFFF;
	float: right;
}

	article.conteuo h1{
		font-size: 350%;
		text-align: right;
	}

/*#### PARTE 4 ####*/
footer#rodape {
	background: #F4EEEE;
	padding-top: 20px;
	width: 700px;
	height: 40px;
	clear: both;
	font-size: 13px;
}

	div.copyl{
		text-align: left;
		float: left;
	}
	
	div.copyr{
		text-align: right;
		float: right;
	}
	
	div.copyl, div.copyr {
		color: #41170C;
		width: 50%;
	}
